/* goole font family import statements */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

body
{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.navigation-nav
{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
}
.myname
{
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: crimson;
}
/* html
{
   scroll-behavior: smooth;
} */
.mymenu
{
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.mymenu:hover
{
    color: chocolate;
}
#home
{
    margin-top: 70px;
}
.div
{
    height: 500px;
    width: 100%;
}
.info
{
    margin-left: 5%;
}
.homeInfo
{
    font-size: 50px;
    color: black;
}
.hmName
{
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: crimson; 
}